<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
</head>
<body>

<center>

                <b>Welcome</b>

<br><br>
<img src="/static/logo.jpg" height="150" width="250">
<br><br>

<ul style="display:inline-block; text-align:left;">

        <li><a href="/login/">Login</a></li>
        <li><a href="/create_account/">Create Account</a></li>

</ul>

<p>Track and calculate how many hours you work</p>

<p><b>Gregorian calendar used</b></p>

</center>

</body>
